body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.about-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.about-container::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    width: 150px;
    height: 150px;
    background: rgba(0, 85, 164, 0.1); /* Cercle décoratif bleu clair */
    border-radius: 50%;
    z-index: 1;
}

.about-container::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: rgba(239, 65, 53, 0.2); /* Cercle décoratif rouge clair */
    border-radius: 50%;
    z-index: 1;
}

.about-container h2 {
    text-align: center;
    font-size: 2.5em;
    color: #d41d2d;
    margin-bottom: 20px;
    border-bottom: 4px solid #d41d2d;
    display: inline-block;
    padding-bottom: 5px;
    z-index: 2;
    position: relative;
}

.about-container p {
    line-height: 1.8;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
    text-align: justify;
    z-index: 2;
    position: relative;
}

blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #d41d2d;
    padding-left: 15px;
    margin: 20px 0;
    z-index: 2;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px 20px;
}

blockquote footer {
    text-align: right;
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}
