/* styles.css */

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuration de la vue du navigateur pour s'assurer de la bonne mise à l'échelle sur tous les appareils */
meta[name="viewport"] {
    content: "width=device-width, initial-scale=1";
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px; /* Taille de police de base pour les grands écrans */
}

main {
    margin-top: 100px; /* Compense pour la hauteur de l'en-tête fixe */
    padding: 20px;
    width: 90%; /* Adaptation de la largeur à celle de la fenêtre */
    max-width: 800px; /* Largeur maximale pour éviter que le contenu ne soit trop étiré sur grands écrans */
    text-align: center;
}

.content-box {
    width: 80%; /* Largeur adaptative selon la largeur de l'écran */
    padding: 30px; /* Espacement interne augmenté */
    margin: 40px auto; /* Centrer le conteneur et espacement vertical */
    border: 4px solid #d00027; /* Contour rouge plus épais */
    border-radius: 20px; /* Coins plus arrondis */
    background-color: #fff; /* Fond blanc */
    text-align: center; /* Centrer le texte */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
}

.content-image {
    width: 100%; /* Ajuste l'image à la largeur du conteneur */
    height: auto; /* Conserve le ratio de l'image */
    border-radius: 15px; /* Coins arrondis de l'image */
    margin-bottom: 20px; /* Espacement sous l'image */
}

.content-text {
    font-size: 1.2em; /* Taille de la police ajustée */
    color: #333;
    line-height: 1.8;
}

/* Styles pour les très petits écrans */
@media (max-width: 425px) {
    body {
        font-size: 14px; /* Réduction de la taille de la police pour les petits appareils */
    }
    .content-box {
        width: 95%; /* Utilisation maximale de l'espace disponible */
        padding: 10px; /* Réduction de l'espacement interne */
    }
}

/* Styles pour les petits écrans */
@media (min-width: 426px) and (max-width: 768px) {
    body {
        font-size: 15px; /* Taille de police intermédiaire */
    }
    .content-box {
        width: 90%; /* Ajustement de la largeur */
        padding: 15px; /* Ajustement de l'espacement interne */
    }
}

/* Styles pour les écrans moyens */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px; /* Retour à la taille de police de base */
    }
    .content-box {
        width: 85%; /* Ajustement de la largeur */
        padding: 20px; /* Ajustement de l'espacement interne */
    }
}

/* Styles pour les grands écrans */
@media (min-width: 1025px) {
    body {
        font-size: 17px; /* Légère augmentation de la taille de la police pour les grands écrans */
    }
    .content-box {
        width: 80%; /* Largeur adaptée aux grands écrans */
        padding: 25px; /* Ajustement de l'espacement interne */
    }
}
