/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* En-tête */
header {
    width: 100%;
    background-color: #d00027;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 1.8em;
}

/* Barre de navigation */
.navbar {
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.navbar ul {
    display: grid;
    gap: 20px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    max-width: 800px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #b00020;
    border-radius: 5px;
}

/* Menu déroulant */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border-radius: 5px;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-weight: normal;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Contenu principal */
main {
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

section {
    background: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: left;
}

/* Styles spécifiques pour les titres de vidéos */
.video-title {
    text-align: center;
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

iframe {
    width: 100%; /* Restauré à 100% */
    height: 315px; /* Hauteur fixée */
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Styles des tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Styles pour les résultats des matchs */
.win { background-color: #d4edda; } /* Vert pour les victoires */
.draw { background-color: #f8f9fa; } /* Gris pour les matchs nuls */
.lose { background-color: #f8d7da; } /* Rouge pour les défaites */

/* Footer */
footer {
    width: 100%;
    padding: 20px;
    background-color: #d00027;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}
